.saved-card {
  background-color: white;
  margin: 5px;
  border-radius: 1em;
  padding: 4px 6px;
  width: 80%;
  font-size: 20px;
  height: auto;
  text-align: left;
}

.saved {
  margin: 5px;
}

.name {
  font-size: 30px;
  font-weight: 500;
}