.heading {
  display: flex;
  justify-content: space-between;
  background-image: url('../../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center right;
}

a {
  text-decoration: none !important;
}

.full-title {
  display: flex;
}

h1 {
  color: var(--tertiary-color);
  font-size: 6em;
  margin: 20px 10px 10px;
}

.title-2 {
  color: white;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  margin: 0 30px 10px;
}

.nav-btn {
  margin: 10px;
  width: 6em;
  height: 2em;
  border: 1px solid black;
  border-radius: 1.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 2px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: var(--main-color);
  transform: scale(1.05);
}

@media screen and (max-width: 910px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .heading {
    display: flex;
    flex-direction: column;
    background-color: opacity(80);
    background-image: url('../../images/banner.jpg');
  }

  .full-title {
    display: flex;
    justify-content: center;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  h1 {
    font-size: 5em;
    margin-bottom: 0;
  }
}