.overlay {
  position: fixed;
  top: 0;
  left:  0;
  width:  100%;
  height:  100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.519);
}

.modal {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1em;
  padding: 30px;
}

.close-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  border: none;
  background-color: white;
  color: var(--tertiary-color);
  font-size: 40px;
  padding: 0;
  margin-right: 8px;
}

.add-btn {
  border: none;
  font-weight: 600;
  border-radius: 1.5em;
  font-size: 20px;
  background-color: rgb(199, 199, 199);
  color: black;
  padding: 0.5em;
}

.close-btn:hover, .add-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.add-btn:hover {
  transform: scale(1.05);
  background-color: rgb(255, 198, 106);
}

.modal-title {
  margin-top: 20px;
  margin: 0;
  text-align: center;
}

.medication-name {
  font-weight: 500;
  margin: 0;
  text-align: center;
}

@media screen and (max-height: 500px) {
  .modal {
    width: 75%;
    height: 75%
  }

  p {
    font-size: 24px;
  }

  .add-btn {
    font-size: 18px;
  }

  .modal-title {
    margin-top: 0;
    font-size: 20px;
  }

  .medication-name {
    font-size: 20px;
  }
}