.form {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}

.search-input {
  border: none;
  border-radius: 1em;
  padding: .5em;
  width: 70%;
  margin-right: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.search-input:hover, .search-input:focus, .search-input::selection {
  border: 1.5px solid black;
  cursor: pointer;
}

.search-btn {
  border: none;
  border-radius: 1em;
  padding: .5em;
  width: 150px;
  font-size: 1em;
  font-weight: 700;
  background-color: rgb(209, 209, 209);
}

.search-btn:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 176);
  transform: scale(1.02);
}