.form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.search-input {
  border: 1.5px solid black;
  border-radius: 1.5em;
  padding: .5em;
  width: 70%;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.search-input:hover, .search-input:focus, .search-input::selection {
  cursor: pointer;
}

.search-btn {
  border: none;
  border-radius: 1.5em;
  padding: .5em;
  width: 150px;
  font-size: 1em;
  font-weight: 700;
  background-color: rgb(199, 199, 199);
}

.search-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}