.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.results-title, .no-match-msg {
  display: flex;
  text-align: center;
  justify-content: center;
}

.results-title {
  font-weight: 400;
}

.result {
  display: flex;
  border: 0.5px solid black;
  border-radius: 1em;
  padding: 1em;
  width: 80%;
  height: auto;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

.result:hover {
  cursor: pointer;
  transform: scale(1.01);
  background: var(--main-color);
}

.no-match-msg { 
  margin: 30px;
}